@model IEnumerable<Post>

@{
    ViewData["Title"] = "Bulunan İçerikler";
}

<h1>Tüm İçerikler</h1>

<div class="row gy-4">
    @foreach (var item in Model)
    {
        <partial name="BlogView" model="item" />
    }
</div>

